{% extends "base.html" %}

{% block content %}
<h1> Blogz </h1>

{% if blogs|length == 0 %}
<p>No blogs yet</p>
{% else %}
   {% for blog in blogs %}
   <div class="listings">
    <ul>
        <div class="list">
            <li>
                <div class= "title"> 
                    <header> <h2> <a href ="./blog?id={{blog.id}}" > {{blog.title}} </a>  </h2> </header>
                </div>
                <div class="body">
                    {{blog.body}}
                </div> 
                    <br />
        </div>
            
        </li>
    </ul>
    </div>
    {% endfor %}
{% endif %}


{% endblock %}